body {
  background: $white-color;
  color: $dark-blue;
  font-family: 'Quicksand', sans-serif;
  font-size: $font-sm;
  font-weight: 200;
}

header {
  background: $dark-blue;
  color: $white-color;
  min-height: 160px;
  padding: $spacing-large 0;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 $spacing-small;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.divider {
  height: 5px;
  background: $light-orange;
}

@media (max-width: 768px) {
  .flexbox {
    flex-direction: column;
  }
}
// <header>
div.header-logo {
  flex: 1;

  img.header-logo-image {
    height: 160px;
    width: 160px;
  }
}

div.header-welcome {
  flex: 5;
  margin: 0 0 0 $spacing-large;

  h1.header-welcome-title {
    margin: 0 0 $spacing-large 0;
  }
}

@media (max-width: 768px) {
  div.header-logo {
    display: none;
  }

  div.header-welcome {
    margin: 0;
    text-align: center;
  }
}
// </header>

section#form {
  padding: $spacing-large 0 0 0;

  .form-input {
    flex: 2;
    min-width: 200px;

    p.form-input-label {
      margin-bottom: $spacing-small;
    }

    .form-input-field {
      width: 100%;
      font-family: inherit;
      height: $input-height;
      background: inherit;
      border: 1px $bright-blue solid;
    }
  }
  #rover-selection {
    padding-right: $spacing-small;
  }

  #date-selection {
    padding: 0 $spacing-small;
  }

  #camera-selection {
    padding-left: $spacing-small;
  }

  div#search-button {
    margin: $spacing-small 0 $spacing-large 0;

    button.form-submit-button {
      width: 100%;
      height: $input-height;
      background: $orange;
      font-family: inherit;
      font-size: inherit;
      border: none;
      color: $white-color;
    }
  }

  @media (max-width: 768px) {
    .form-input{
      margin-bottom: $spacing-small;
    }
  
    #rover-selection, 
    #date-selection, 
    #camera-selection {
      padding: 0;
    }
  }
}



section#results {
  padding-top: $spacing-large;

  h2.result-title {
    margin-bottom: $spacing-large;
  }

  ul.result-list {
    
    li.result-list-item {
      border: 1px $bright-blue dashed;
      margin: 0 0 $spacing-small 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      min-height: 130px;
      padding: $spacing-small $spacing-small;

      div.result-thumbnail {
        order: 1;
        flex: 1;
        height: 130px;
        width: 130px;
        margin-right: $spacing-small;

        img.result-thumbnail-image {
          max-height: 100%;
          max-width: 100%;
        }
      }
      div.result-description {
        order: 2;
        flex: 3;
      }

      div.result-view {
        order: 3;
        flex: 1;
        margin: $spacing-large 0;
        
        button.result-view-button {
          width: 100%;
          height: $input-height;
          background: $orange;
          font-family: inherit;
          font-size: inherit;
          border: none;
          color: $white-color;
          
          a.result-view-button-link:link {
            text-decoration: none;
            color: $white-color;
          }

          a.result-view-button-link:visited {
            text-decoration: none;
            color: $white-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    ul.result-list {
      li.result-list-item {
        flex-direction: column;
        text-align: center;
  
        div.result-thumbnail {
          margin: 0 auto $spacing-small auto;
        }
      }
    }
  }
}



