section#form {
  padding: $spacing-large 0 0 0;

  .form-input {
    flex: 2;
    min-width: 200px;

    p.form-input-label {
      margin-bottom: $spacing-small;
    }

    .form-input-field {
      width: 100%;
      font-family: inherit;
      height: $input-height;
      background: inherit;
      border: 1px $bright-blue solid;
    }

    span.form-input-info {
      font-size: 14px;
      margin-top: $spacing-small;
    }
  }
  #rover-selection {
    padding-right: $spacing-small;
  }

  #date-selection {
    padding: 0 $spacing-small;
  }

  #camera-selection {
    padding-left: $spacing-small;
  }

  div#search-button {
    margin: $spacing-small 0 $spacing-large 0;

    button.form-submit-button {
      width: 100%;
      height: $input-height;
      background: $orange;
      font-family: inherit;
      font-size: inherit;
      border: none;
      color: $white-color;
    }
  }

  @media (max-width: 768px) {
    .form-input{
      margin-bottom: $spacing-small;
    }
  
    #rover-selection, 
    #date-selection, 
    #camera-selection {
      padding: 0;
    }
  }
}