body {
  background: $white-color;
  color: $dark-blue;
  font-family: 'Quicksand', sans-serif;
  font-size: $font-sm;
  font-weight: 200;
}

header {
  background: $dark-blue;
  color: $white-color;
  min-height: 160px;
  padding: $spacing-large 0;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 $spacing-small;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.divider {
  height: 5px;
  background: $light-orange;
}

@media (max-width: 768px) {
  .flexbox {
    flex-direction: column;
  }
}