section#results {
  padding-top: $spacing-large;

  h2.result-title {
    margin-bottom: $spacing-large;
  }

  ul.result-list {
    
    li.result-list-item {
      border: 1px $bright-blue dashed;
      margin: 0 0 $spacing-small 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      min-height: 130px;
      padding: $spacing-small $spacing-small;

      div.result-thumbnail {
        order: 1;
        flex: 1;
        height: 130px;
        width: 130px;
        margin-right: $spacing-small;

        img.result-thumbnail-image {
          max-height: 100%;
          max-width: 100%;
        }
      }
      div.result-description {
        order: 2;
        flex: 3;
      }

      div.result-view {
        order: 3;
        flex: 1;
        margin: $spacing-large 0;
        
        button.result-view-button {
          width: 100%;
          height: $input-height;
          background: $orange;
          font-family: inherit;
          font-size: inherit;
          border: none;
          color: $white-color;
          
          a.result-view-button-link:link {
            text-decoration: none;
            color: $white-color;
          }

          a.result-view-button-link:visited {
            text-decoration: none;
            color: $white-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    ul.result-list {
      li.result-list-item {
        flex-direction: column;
        text-align: center;
  
        div.result-thumbnail {
          margin: 0 auto $spacing-small auto;
        }
      }
    }
  }
}



