$white-color: #f4efe8;
$dark-blue: #1d2a42;
$bright-blue: #62778c;
$orange: #c1542d;
$light-orange: #d8a187;

$spacing-small: 15px;
$spacing-large: 45px;
$input-height: 30px;
$divider-height: 5px;

$font-lg: 36px;
$font-sm: 18px;

$border-rad: 5px;